{% extends "access/accessbase.html" %}

{% block signup_login_form %}
<div class="container">
    <div class="p-3">
        <div class="card p-5">
            <h6>Set new password</h6>
            <div class="mt-2">
                <form action="{{ url_for('access_control_bp.set_new_password') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="password" class="form-label">{{ form.password.label }}</label>
                        {{ form.password(class="form-control", id="password") }}
                        {% for error in form.password.errors %}
                        <p class="text-danger m-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">{{ form.password_confirm.label }}</label>
                        {{ form.password_confirm(class="form-control", id="passwordConfirm") }}
                        {% for error in form.password_confirm.errors %}
                        <p class="text-danger m-2">{{ error }}</p>
                        {% endfor %}
                    </div>                        
                    <div class="mt-4 d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-primary px-4">Reset password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}