{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center pt-5">
    <div class="card w-50">
        <div class="card-body text-center">
          <h5 class="card-title">Your Score</h5>
          <h1><i class="bi bi-trophy text-secondary"></i></h1>
          <h1 class="card-text text-primary"> {{ score }}%</h1>
          <p class="card-text">Congratulations for choosing education and fun.</p>
        </div>
        <div class="card-body text-center">
          <a href="{{ url_for('ordinary_bp.get_quiz') }}" class="card-link">Take another quiz</a>
          <a href="{{ url_for('ordinary_bp.index') }}" class="card-link">Home</a>
        </div>
      </div>
</div>
{% endblock %}