{% extends "base.html" %}

{% block content %}
<div class="container bg-light p-5">
    <!--Start of home section-->
    <section id="home">
        <div class="row w-100 rounded-5 p-2">
            <div class="col-8 d-grid align-items-center">
                <div class="container-fluid">
                    <h1 class="fs-1">Let's play many quizes many ideas</h1>
                    <p class="fs-2">Sharp and easy</p>
                    <button class="btn btn-primary w-50 rounded-5 mt-5">Take a Quiz</button>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <span class="text-secondary"><i class="bi bi-stars fs-1"></i></span>
                    <img src="{{ url_for('static', filename='images/trophy.png') }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!--End of home section-->

    <!--Start of popular categories section-->
    <section id="popular_categories">
        <div class="row mt-5">
            <div class="row ps-4">
                <div class="col-9">
                    <h3>Popular categories</h3>
                </div>
                <div class="col-3">
                    <a href="" class="fw-bold fs-5 text-secondary text-decoration-none">See all</a>
                </div>
            </div>
            <div class="container row m-1">
                <div class="col d-flex flex-column align-items-center">
                    <div style="width: 100px; height: 100px;">
                        <img src="{{ url_for('static', filename='images/user.webp') }}" alt="" class="img-fluid">
                    </div>
                    <p class="mt-4">Religion</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div style="width: 100px; height: 100px;">
                        <img src="{{ url_for('static', filename='images/user.webp') }}" alt="" class="img-fluid">
                    </div>
                    <p class="mt-3">Religion</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div style="width: 100px; height: 100px;">
                        <img src="{{ url_for('static', filename='images/user.webp') }}" alt="" class="img-fluid">
                    </div>
                    <p class="mt-3">Religion</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div style="width: 100px; height: 100px;">
                        <img src="{{ url_for('static', filename='images/user.webp') }}" alt="" class="img-fluid">
                    </div>
                    <p class="mt-3">Religion</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div style="width: 100px; height: 100px;">
                        <img src="{{ url_for('static', filename='images/user.webp') }}" alt="" class="img-fluid">
                    </div>
                    <p class="mt-3">Religion</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div style="width: 100px; height: 100px;">
                        <img src="{{ url_for('static', filename='images/user.webp') }}" alt="" class="img-fluid">
                    </div>
                    <p class="mt-3">Religion</p>
                </div>
            </div>
        </div>
    </section>
    <!--End of popular categories section-->
    
    <!--Start of fun facts section-->
    <section id="fun_facts">
        <div class="row mt-5">
            <div class="row ps-4">
                <div class="col-9">
                    <h3>Fun Facts</h3>
                </div>
                <div class="col-3">
                    <a href="" class="fw-bold fs-5 text-secondary text-decoration-none">See all</a>
                </div>
            </div>
            <div class="container row m-1">
                <div class="col d-flex flex-column align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of fun facts section-->
    <!--Start of fun facts section-->
    <section id="fun_facts">
        <div class="row mt-5">
            <div class="row ps-4">
                <div class="col-9">
                    <h3>Fun Facts</h3>
                </div>
                <div class="col-3">
                    <a href="" class="fw-bold fs-5 text-secondary text-decoration-none">See all</a>
                </div>
            </div>
            <div class="container row m-1">
                <div class="col d-flex flex-column align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ea?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of fun facts section-->
</div>
{% endblock %}