{% extends "base.html" %}

{% block content %}
<div class="container bg-light p-5">
    <!--Start of home section-->
    <section id="home" class="mt-5 pb-5">
        <div class="row w-100 rounded-5 p-2">
            <div class="col-8 d-grid align-items-center">
                <div class="container-fluid">
                    <h1 class="fs-1">Let's play many quizes many ideas</h1>
                    <p class="fs-2">Sharp and easy</p>
                    <a href="{{ url_for('ordinary_bp.get_quiz') }}"><button class="btn btn-primary w-50 rounded-5 mt-5">Take a Quiz</button></a>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <span class="text-secondary"><i class="bi bi-stars fs-1"></i></span>
                    <img src="{{ url_for('static', filename='images/trophy.png') }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!--End of home section-->
    
    <!--Start of fun facts section-->
    <section id="fun_facts">
        <div class="row mt-5">
            <div class="row ps-4">
                <div class="col-9">
                    <h3>Fun Facts</h3>
                </div>
                <div class="col-3">
                    <a href="{{ url_for('fun_fact_bp.get_fun_facts') }}?page=1" class="fw-bold fs-5 text-secondary text-decoration-none">See more</a>
                </div>
            </div>
            <div class="container row m-1">
                {% for fun_fact in fun_facts %}
                <div class="col d-flex flex-column align-items-center">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="fw-bold">{{ fun_fact.category.name }}</p>
                            <p class="card-text">
                                {{ fun_fact.fact_body }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End of fun facts section-->
</div>
{% endblock %}