{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column mt-5">
    <!--Profile and Name-->
    <div class="row justify-content-center">
        <div class="col-2">
            <img src="{{ url_for('static', filename='images/user.webp') }}" alt="Story" class="rounded-circle max-h-100 max-h-100 img-fluid">
        </div>
        <div class="text-center">
            <h3>{{ current_user.name }}</h3>
            <h1><i class="bi bi-trophy-fill text-secondary"></i></h1>
        </div>        
    </div>
    <!--Profile Summary card-->
    <div class="card bg-primary w-75 mt-3 p-3 rounded-5">
        <div class="card-body row">
            <div class="col-4">
                <div class="card-title text-center text-white border-end border-light">
                    <h5>Total Points</h5>
                    <p class="card-text fw-bold fs-1">{{ current_user.total_points }}</p>
                </div>
            </div>
            <div class="col-4">
                <div class="card-title text-center text-white border-end border-light">
                    <h5>Quizes Taken</h5>
                    <p class="card-text fw-bold fs-1">{{ current_user.quizes_taken }}</p>
                </div>
            </div>
            <div class="col-4">
                <div class="card-title text-center text-white">
                    <h5>Average Score</h5>
                    <p class="card-text fw-bold fs-1">{{ current_user.average_score }}%</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}