<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickMinds | {{ title }}</title>

    <!-- Bootstrap css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_bootstrap.css') }}">
    <!-- Bootsrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container d-flex flex-column min-vh-100">
        <!--Navbar start-->
        <nav class="navbar navbar-expand-lg sticky-top bg-primary text-white fw-bold p-3 d-flex">
            <div class="container-fluid d-flex justify-content-between ps-5 pe-5">
                <a href="{{ url_for('ordinary_bp.index') }}" class="navbar-brand text-white">QuickMinds</a>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#home" class="nav-link text-white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#popular_categories" class="nav-link text-white">Popular</a>
                        </li>
                        <li class="nav-item">
                            <a href="#fun_facts" class="nav-link text-white">Fun facts</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('access_control_bp.login') }}" class="nav-link text-white"><i class="bi bi-person-check fs-4 fw-bold me-1"></i>Profile</a>
                        <a href="{{ url_for('access_control_bp.logout') }}" class="nav-link text-white ms-3"><span class="me-1"><i class="bi bi-box-arrow-right fs-4 fw-bold me-1"></i> Logout</a>
                        {% if current_user.is_admin %}
                        <a href="{{ url_for('settings_bp.settings') }}" class="nav-link text-white me-3"><i class="bi bi-gear ms-5 fs-4 fw-bold"></i></a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for('access_control_bp.login') }}" class="nav-link text-white"><span class="me-1"><i class="bi bi-person-exclamation fs-4 fw-bold"></i></span> Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!--Navbar end-->
        <div class="container bg-light d-flex justify-content-end" >
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible mt-3 me-3" role="alert">
                    <div>{{ message }}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endwith %}
        </div>
        {% block content %}

        {% endblock %}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>